<?xml version="1.0"?>
<config>
    <modules>
        <GaugeInteractive_Kayako>
            <version>0.0.1</version>
        </GaugeInteractive_Kayako>
    </modules>
    <frontend>
        <routers>
            <kayako>
                <use>standard</use>
                <args>
                    <module>GaugeInteractive_Kayako</module>
                    <frontName>kayako</frontName>
                </args>
            </kayako>
        </routers>
        <layout>
            <updates>
                <kayako>
                    <file>gaugeinteractive/kayako.xml</file>
                </kayako>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <kayako>
                <class>GaugeInteractive_Kayako_Block</class>
            </kayako>
            <core>
                <rewrite>
                    <template>GaugeInteractive_Kayako_Block_Core_Template</template>
                </rewrite>
            </core>
        </blocks>
        <helpers>
            <kayako>
                <class>GaugeInteractive_Kayako_Helper</class>
            </kayako>
        </helpers>
        <models>
            <kayako>
                <class>GaugeInteractive_Kayako_Model</class>
            </kayako>
        </models>
    </global>
</config>
